{
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["./src"]
            }
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "jest": true
    },
    "extends": "eslint-config-unosquare",
    "plugins": ["prettier"],
    "rules": {
        "no-underscore-dangle": 0,
        "no-param-reassign": 0,
        "guard-for-in": 0,
        "react-hooks/exhaustive-deps": 0,
        "react-hooks/rules-of-hooks": 0,
        "react/function-component-definition": 0,
        "no-promise-executor-return": "warn"
    }
}